.ant-modal {
  .ant-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.modal-action {
  display: flex;
  flex-direction: column;
}

.wrap-img-has-upload {
  position: relative;
  width: 92px;
  .img-upload {
    width: 92px;
    height: 92px;
    border-radius: 8px;
    :hover {
      opacity: 0.5;
    }
  }
  .close-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 99;
    cursor: pointer;
  }
  .popup-hover {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    width: 92px;
    height: 92px;
    .popup-text {
      color: var(--eighteenth-color);
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px; /* 125% */
    }
  }
}
.wrap-img-has-upload:hover .popup-hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
}

.wrap-upload-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .btn-upload-img {
    padding: 12px 16px;
    border-radius: 8px;
    color: var(--first-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    cursor: pointer;
  }
}

.form {
  width: 100%;
}

.form-group {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-top: 24px;
  .form-text {
    display: flex;
    justify-content: space-between;
    .form-label {
      color: var(--fifth-color);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 125% */
    }
    .form-number {
      color: var(--fourth-color);
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px; /* 133.333% */
    }
  }
  .form-input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--third-color);
    color: var(--fifth-color);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
    outline: none;
  }
  .form-input::placeholder {
    color: var(--fourth-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }
  .form-area {
    padding: 8px 12px;
    height: 112px;
    resize: none;
  }
  .input-invalid {
    border: 1px solid var(--sixteenth-color);
  }
}

.group-btn {
  display: flex;
  gap: 16px;
  margin-top: 32px;
  width: 100%;
  .btn-add {
    background: var(--tenth-color) !important;
    color: var(--sixth-color) !important;
    padding: 12px 16px;
    width: 217px;
    width: 100%;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    border: 1px solid var(--eleventh-color);
    border-radius: 8px;
    cursor: not-allowed;
  }
  .active {
    background: var(--first-color) !important;
    color: var(--second-color) !important;
    cursor: pointer;
  }
  .btn-cancel {
    background-color: transparent;
  }
}

// .ant-message {
//   .ant-message-notice-wrapper {
//     .ant-message-notice-content {
//       background: var(--fill-success-default, #30A46C) !important;
//     }
//   }
// }

.success-message .ant-message-notice-content {
  background: var(--fill-success-default, #30a46c) !important;
}

@media (max-width: 738px) {
  .model-delete-title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px; /* 125% */
  }
  .mb-16 {
    margin-bottom: 16px;
  }
  .upload-btn-wrapper {
    display: flex;
    gap: 8px;
    padding: 12px 0px;
    .btn-upload-img {
      padding: 0 0 0 16px;
    }
    .question-icon {
      padding-right: 12px;
    }
  }
  .group-btn {
    gap: 12px;
  }
  .ant-tooltip {
    inset: auto !important;
  }
  .tooltip-moble .ant-tooltip {
    inset: auto auto 486.2px 150.175px !important;
  }
}
